.container {
  position: relative;
  display: inline-block;
}

.circle {
  position: absolute;
  background-color: #f8f9fa;
  border-radius: 50%;
  z-index: 0;
  width: 100px;
  height: 100px;
  top: -30px;
  left: -10px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 200px;
  display: block;
}

@media (max-width: 768px) {
  .circle {
    width: 70px;
    height: 70px;
    top: -20px;
    left: -5px;
  }

  .image {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -5px;
  }

  .image {
    width: 100px;
    height: 100px;
  }
}
